*{
    box-sizing: border-box;
    list-style: none;
}
header {
    
    padding: 50px;
  background-color: rgb(0, 0, 0); 
  text-align:left;  
  color: rgb(9, 248, 236);
  
}

nav {
  text-align: right;
    display: flex;
    background-color: rgb(22, 22, 22);
    overflow: hidden;
    padding: 10px;
    color: rgb(255, 255, 255);
    
}
nav a{
  text-decoration: none;
  display: block;
  padding: 14px 20px;
  float: left ;
}
div{
    padding-left: 250px;
    padding-right: 250px;
    background-color: black;
    color: white;
    padding-bottom: 50px;
}

.p1{
    font-family: 'Cinzel', serif;
    
}



