@import url('https://fonts.googleapis.com/css?family=Poppins:200,300,400,500,600,700,800,900&display=swap');
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family:'Poppins' , sans-serif;
  font-size:large;
}

body{
  
  min-height: 200vh;
}
header{
  position:fixed;
  top: 0;
  left: 0;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  transition: 0.6s;
  padding: 40px 100px;
  z-index: 100000;
  }
  header.sticky{
    padding: 5px 100px;
    background: #000;
  }
  header .logo{
    position: relative;
    font-weight: 700;
    color: #000;
    text-decoration: none;
    font-size: 2em;
    text-transform: uppercase;
    letter-spacing: 2px;
    transition: 0.6s;
  }

  header ul{
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
   }
   header ul li{
     position: relative;
     list-style: none;
      }

      header ul li a{
        position: relative;
        margin: 0 15px;
        text-decoration: none;
        color: #000;
        letter-spacing: 2px;
        font-weight:500px ;
      }
      
      header.sticky .logo,
      header.sticky ul li a{
        color: #fff;
      }


      
      
      
      
      .container {
        min-height: 100vh;
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
        padding: 100px 0;
        background-color: #fff;
      }
      .timeline {
        width: 80%;
        height: auto;
        max-width: 800px;
        margin: 0 auto;
        position: relative;
      }
      
      .timeline ul {
        list-style: none;
      }
      .timeline ul li {
        padding: 20px;
        background-color: #acbceed7;
        color: white;
        border-radius: 10px;
        margin-bottom: 20px;
      }
      .timeline ul li:last-child {
        margin-bottom: 0;
      }
      .timeline-content h1 {
        font-weight: 500;
        font-size: 25px;
        line-height: 30px;
        margin-bottom: 10px;
      }
      .timeline-content p {
        font-size: 16px;
        line-height: 30px;
        font-weight: 300;
      }
      .timeline-content .date {
        font-size: 12px;
        font-weight: 300;
        margin-bottom: 10px;
        letter-spacing: 2px;
      }
      @media only screen and (min-width: 768px) {
        .timeline:before {
          content: "";
          position: absolute;
          top: 0;
          left: 50%;
          transform: translateX(-50%);
          width: 3px;
          height: 100%;
          background-color: rgb(119, 119, 119);
        }
        .timeline ul li {
          width: 50%;
          position: relative;
          margin-bottom: 50px;
        }
        .timeline ul li:nth-child(odd) {
          float: left;
          clear: right;
          transform: translateX(-40px);
          border-radius: 20px 0px 20px 20px;
        }
        .timeline ul li:nth-child(even) {
          float: right;
          clear: left;
          transform: translateX(5px);
          border-radius: 0px 20px 20px 20px;
        }
        .timeline ul li::before {
          content: "";
          position: absolute;
          height: 20px;
          width: 20px;
          border-radius: 50%;
          background-color: rgb(53, 53, 53);
          top: 0px;
        }
        .timeline ul li:nth-child(odd)::before {
          transform: translate(50%, -50%);
          right: -22.5px;
        }
        .timeline ul li:nth-child(even)::before {
          transform: translate(-50%, -50%);
          left: -23.5px;
        }
        .timeline-content .date {
          position: absolute;
          top: -30px;
        }
        .timeline ul li:hover::before {
          background-color: rgb(174, 175, 230);
        }
      }

     .namecontent{
      margin-top: 200px;
      margin-left: 150px;
     }
     .namecontent h2{
       font-size: 2cm;
     }

  .headimg{
    float: right;
    transform: translate(400px,-200px);
    }
    .welcome{
      margin-top: 200px;
      margin-left: 150px;
      
    }
    .card{
      margin-left: 150px;
      height: 200px;
      width: 200px
    }
   .proj{
     text-align: center;
     margin-top: 150px;
     margin-bottom: 70px;
   }
   .proj2{
     text-align: center;
     margin-top: 150px;
     margin-bottom: 0;
   }
      