*{
    box-sizing: border-box;
    list-style: none;
}
header { 

        padding-top: 90px;
    padding: 50px;
  background-color: rgb(0, 0, 0); 
  text-align:left;  
    background: #7affc1; /* fallback for old browsers */
  background: -webkit-linear-gradient(to right, #7affc1, #42f2ff); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to right, #7affc1, #42f2ff); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  -webkit-background-clip: text;
  background-clip: text;
  color: transparent;

  
}

nav {
  text-align: right;
    display: flex;
    background-color: rgb(0, 0, 0);
    overflow: hidden;
    padding: 50px;
    color: rgb(255, 255, 255);
   float: right;
}
nav a{
  text-decoration: none;
  display: block;
  padding: 14px 20px;
  
}
div{
    padding-left: 250px;
    padding-right: 250px;
    background-color: black;
    color: white;
    padding-bottom: 100px;
}

.p1{
  padding-top: 100px;
  
}
.alignr{
  float: right;
  color: antiquewhite;
}
h1{
  font-size: 70px;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
